<div class="container">
  <h1 class="text-center">My meetings</h1>

  <div class="row">
    <% if @meetings.count > 0 %>
      <% @meetings.each do |meeting| %>
        <%= link_to meeting_path(meeting), class: "card-book my-1 p-1" do %>
          <% if current_user == meeting.handovers[0].receiver  %>
            <% partner_user = meeting.handovers[0].deliverer %>
          <% elsif current_user == meeting.handovers[0].deliverer  %>
            <% partner_user = meeting.handovers[0].receiver %>
          <% end %>
          <%= image_tag partner_user.avatar, class: "avatar-bordered avatar-large" %>
          <div class="card-book-infos">
            <h2><%= partner_user.username %></h2>
            <p><%= "#{meeting.date} #{meeting.time.hour}:#{meeting.time.min}" %> at <%= meeting.location.name %></p>
            <p><%= meeting.status %></p>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center"><em>There aren't any meetings scheduled for now.</em></p>
    <% end %>
  </div>
</div>
