<div class="container">
  <div class="img d-flex justify-content-center">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-bordered" %>
  </div>
  <h2><%= @deliverer.username %></h2>
  <hr>
  <p>Schedule a meeting at</p>
  <h2><%= @location.name %></h2>
  <%= simple_form_for @meeting do |f| %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.input :time, as: :time, html5: true %>
    <%= f.submit "Request", class: "btn btn-success" %>
  <% end %>
</div>
