<% if (@search_term != nil && @search_term != "") && @search_district != "All areas" %>
  <h3 class="text-center">Latest books for '<strong><%= @search_term %></strong>' in <%= @search_district %>:</h3>
<% elsif (@search_term != nil && @search_term != "") && @search_district == "All areas" %>
  <h3 class="text-center">Latest books for '<strong><%= @search_term %></strong>' in Berlin:</h3>
<% elsif @search_term == "" && @search_district != "All areas" %>
  <h3 class="text-center">Latest books in <%= @search_district %>:</h3>
<% else %>
  <h3 class="text-center">Latest books in Berlin:</h3>
<% end %>
<% if @filtered_books.count > 0 %>
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6">
    <% @filtered_books.reverse.each do |book| %>
      <%= render 'bookcard', book: book %>
    <% end %>
  </div>
<% else %>
  <p class="text-center"><em>There aren't any books available for this search. Try another one!</em></p>
<% end %>
