<%= form_with url: "/search", data: {
  controller: 'debounce',
  debounce_target: 'form' } do |form| %>
  <div class="form-floating my-3">
    <%= form.text_field :query,
          placeholder: "",
          autofocus: true,
          data: { action: "input->debounce#search" },
          class: "form-control" %>
    <%= form.label :query, "Title or Author" %>
  </div>
  <div class="form-floating">
    <%= form.select :area,
          areas,
          { },
          { class: "col-12 form-control",
            onchange: "this.form.requestSubmit()" } %>
    <%= form.label :area, "Area" %>
  </div>
<% end %>
