<div data-controller="update-area" class="pt-4">
  <h1 class="text-center font-logo mb-4">
    <%= image_tag "mb_logo.png", alt: "matchbooks", width: 50 %>matchbooks</h1>
  <h4 class="text-center">Find books in your area</h4>
  <div class="container">
    <div class="row mx-auto">
      <%= form_tag root_path, method: :get do %>
        <%= select_tag "district",
          options_for_select(@districts, @search_district),
          { class: "col-12 form-select",
            "data-action": "change->update-area#refresh",
            "data-update-area-target": "select" } %>
        <div class="d-flex">
          <%= text_field_tag :query,
                              params[:query],
                              class: "form-control",
                              "data-update-area-target": "query",
                              placeholder: "Search here" %>
          <%= button_tag class: "btn btn-success" do %>
            <i class='fas fa-search'></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <div data-update-area-target="bookList">
    <%= render 'insert' %>
  </div>
</div>
