<h3 class="text-center pt-4">Find books in your area</h3>
<div class="container">
  <div class="row mx-auto pb-4">
    <%= form_with url: "/search" do |form| %>
      <%= form.label :district, "District" %>
      <%= form.select :district,
          @districts,
          { selected: @search_district },
          { class: "col-12 form-control",
            onchange: "this.form.requestSubmit()" } %>
      <%= form.label :query, "Search" %>
      <div class="d-flex">
        <%= form.text_field :query,
          value: params[:query],
          placeholder: "title or author",
          oninput: "this.form.requestSubmit()",
          class: "form-control" %>
        <%= button_tag class: "btn btn-success" do %>
          <i class='fas fa-search'></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div id="search_results">
  <%= render 'search_results' %>
</div>
