<div class="container p-3 text-center">
  <div class="container">
    <img src=<%= @book.cover_image %> alt="book cover">
    <h2><%= @book.title %></h2>
    <span>by:</span>
    <p><%= @book.author %></p>
    <span>Description:</span>
    <p><%= @book.description %></p>
    <span>Published:</span>
    <p><%= @book.year %></p>
    <span>ISBN:</span>
    <p><%= @book.isbn %></p>
  </div>
  <hr>
  <div class="container">
    <h1>Locations:</h1>
    <% @locations_uniq.each do |location| %>
      <div class="container mb-3">
        <h4 class="m-0"><%= location.name %></h4>
        <%# show users that offer the book at this location %>
        <p class="m-0">Set up a meeting with:</p>
        <% location.users.each do |user| %>
          <% if (user.copies.find_by book_id: params[:id]) %>
            <%# link_to user.username, new_meeting_path(district: params[:district], copy_id: (user.copies.find_by book_id: params[:id]).id) %>
            <%= link_to user.username, copies_path(district: params[:district], copy_id: (user.copies.find_by book_id: params[:id]).id) %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
