<div class="container p-3 text-center">
  <div class="book-cover">
    <img src=<%= @book.cover_image %> alt="book cover" class="mb-3">
    <h2><%= @book.title %></h2>
    <p>by <%= @book.author %></p>
    <span>Description:</span>
    <p><%= @book.description %></p>
    <span>Published:</span>
    <p><%= @book.year %></p>
    <span>ISBN:</span>
    <p><%= @book.isbn %></p>
  </div>
  <hr>
  <div class="container">
    <h1>Locations:</h1>
    <% if @locations_uniq.empty? %>
      <p><em>Sorry, but this book is currently not available...</em></p>
    <% else %>
      <% @locations_uniq.each do |location| %>
        <div class="container mb-3">
          <h4 class="m-0"><%= location.name %></h4>
          <%# show users that offer the book at this location %>
          <p class="m-0">Set up a meeting with:</p>
          <% location.users.each do |user| %>
            <% if (user.copies.find_by book_id: params[:id]) %>
              <% unless user == current_user %>
                <%= link_to user.username, new_meeting_path(location: location, copy: (user.copies.find_by book_id: params[:id])) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
